<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout::head}">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="header" align="center">
    <h3>Delete customer</h3>
    <p >
        <a th:href="@{'/'}"> Back to list</a>
    </p>
</div>
<form th:action="@{/customer/delete}" th:object="${customer}"
      method="post" novalidate="novalidate">
    <input type="hidden" th:field="*{id}" name="id" th:value="${customer.id}"  />
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" th:field="*{name}" th:value="${customer.name}" disabled />
    </div>
    <div>
        <label >Email</label>
        <input type="text" name="email" th:field="*{email}" th:value="${customer.email}" disabled/>
    </div>
    <div>
        <label >Address</label>
        <input type="text" name="address" th:field="*{address}" th:value="${customer.address}" disabled />
    </div>
    <input type="submit" value="Save"/>
    <footer th:insert="~{/layout::footer}"></footer>
</form>
</body>
</html>